include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      meta(content="width=device-width, initial-scale=1" name="viewport")

      title Карта | #{title}
      link(rel='stylesheet' href='main.min.css')
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")


    
  body


    block content
    
    

    //- script(src="auth.bundle.js")
    
    
    

    