include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    title MAP | #{title}
    link(rel='stylesheet' href='main.min.css')
    script(src="https://api-maps.yandex.ru/2.1/?pikey=eea68b12-ab01-45b7-a76f-9ab67e5c9002&lang=ru_RU" type="text/javascript")


  body
   
    .wrapper.wraper__blog 
      
      .maincontent
        block content
    block scripts  
        

    